.login-input{
    background-color: transparent!important;
    color: #e3d7c9 !important;
    border: solid 3px #e3d7c9;
}

.primary-color{
    color: #e3d7c9;
}






/*START-------bootstrap-override-------------------------------------------------------------------------*/
.btn-primary{
    background-color: transparent;
    color: #e3d7c9;
    border-color: #e3d7c9;
}

.btn:hover {
    background-color: #e3d7c9;
    color: #2C2C2C;
    border-color: #e3d7c9;
}

/*END---------bootstrap override-------------------------------------------------------------------------*/
