{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'shared/toast.html' %}
    <div class="col d-flex flex-column overflow-x-hidden h-100 w-100 p-4" id="content">
        <div class="d-grid m-auto h-100 w-100 align-content-start gap-3 p-3">
            <div class="container mt-5">
                <div class="row justify-content-center mt-5">
                    <h2 class="primary-color text-center my-5">User Management </h2>
                    <form id="updateAccountForm" class="d-flex flex-wrap mt-2" method="POST">
                        <div class="col-12 col-md-6 d-flex flex-wrap form-outline mb-4 px-2">
                            <label class="col-12 form-label float-end primary-color ms-1 mb-0"
                                   for="username">Username</label>
                            <input type="text" class="col-12 form-control form-control-lg login-input" id="username"
                                   name="username"
                                   placeholder="Username"
                                   value="{{ user.username }}">
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-wrap form-outline mb-4 px-2">
                            <label class="col-12 form-label float-end primary-color ms-1 mb-0" for="email">Email</label>
                            <input type="email" class="col-12 form-control form-control-lg login-input" id="email"
                                   name="email"
                                   value="{{ user.email }}">
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-wrap form-outline mb-4 px-2">
                            <label class="col-12 form-label float-end primary-color ms-1 mb-0" for="first_name">First
                                Name</label>
                            <input type="text" class="col-12 form-control form-control-lg login-input" id="first_name"
                                   name="first_name"
                                   placeholder="First Name" value="{{ user.first_name }}">
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-wrap form-outline mb-4 px-2">
                            <label class="col-12 form-label float-end primary-color ms-1 mb-0" for="Last Name">Last
                                Name</label>
                            <input type="text" class="col-12 form-control form-control-lg login-input" id="last_name"
                                   name="first_name" value="{{ user.last_name }}">
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-wrap form-outline mb-4 px-2">
                            <label class="col-12 form-label float-end primary-color ms-1 mb-0" for="phone_number">Phone
                                Number</label>
                            {% if user.phone_number %}
                                <input type="tel" class="col-12 form-control form-control-lg login-input"
                                       id="phone_number"
                                       name="phone_number"
                                       placeholder="Phone Number" value="{{ user.phone_number }}">
                            {% else %}
                                <input type="tel" class="col-12 form-control form-control-lg login-input"
                                       id="phone_number"
                                       name="phone_number"
                                       placeholder="Phone Number">
                            {% endif %}
                        </div>
                        <div class="col-12 justify-content-center d-flex flex-wrap form-outline mb-4 px-2">
                            <button type="submit" class="col-12 w-25 btn btn-primary btn-block">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/accountmanagement.js' %}"></script> <!-- Include your custom JavaScript file -->
{% endblock %}