{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col d-flex flex-column overflow-x-hidden h-100 w-100 p-4" id="content">
        <h2 class="primary-color text-left my-5">My Cart</h2>
        <div>
            <button type="button" class="collapsible w-75 m-0" id="tableCollapse">Purchase Summary</button>
            <table class="table table-dark table-borderless w-75 m-0" style="display: table;">
                <thead style="border-bottom: #161718; border-bottom-style: solid;border-width: 3px">
                <tr>
                    <td><span> Product Name </span></td>
                    <td><span> Quantity </span></td>
                    <td><span> Price </span></td>
                </tr>
                </thead>
                <tbody style="border-width: 3px">
                {% for product in cart %}
                    <tr>
                        <td>{{ product.productId.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>${{ product.productId.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tbody style="border-width: 3px">
                <tr>
                    <td></td>
                    <td>Subtotal:</td>
                    <td>${{ subtotal }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Tax:</td>
                    <td>${{ tax }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Shipping:</td>
                    <td>${{ shipping }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Discount:</td>
                    <td>${{ discount }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Total:</td>
                    <td>${{ total }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="collapsible w-75 m-0">Payment Information</button>
            <table class="table table-dark table-borderless w-75 m-0" style="display: none;">
                <form method="post" action="{% url 'AccountCartView' %}" id="cartForm">
                    {% csrf_token %}
                    <tbody style="border-width: 3px">
                    <tr>
                        <td></td>
                        <td>
                            <label>Full Name: </label>
                            <input type="text" id="name" name="name" pattern="[A-Za-z]+"
                                   oninvalid="setCustomValidity('Please enter on alphabets only.')">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Card Number: </label>
                            <input type="text" id="card" name="card" minlength="15" maxlength="16" size="16"
                                   pattern="[0-9]{16}" oninvalid="setCustomValidity('Please enter correct card format.')">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label>Expiration Date: </label>
                            <input type="text" id="expiration" name="expiration" minlength="4" maxlength="4" size="4"
                                   oninvalid="setCustomValidity('Please enter expire date.')">
                        </td>
                        <td>
                            <label>Back Number: </label>
                            <input type="text" id="back_number" name="back_number" minlength="3" maxlength="3" size="3"
                                   oninvalid="setCustomValidity('Please enter correct card format.')">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary w-75" type="submit">Submit</button>
                        </td>
                    </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
