<div class="col-auto d-flex h-100 px-0" id="sidebar">
    <div class="collapse collapse-horizontal show" id="sidebarContent">
        <ul class="nav flex-column w-100 sticky-top" style="top:55px;" id="list">
            <li class="hover">
                <a href="/"><i class="fa fa-home"></i> Home </a>
            </li>
            <hr class="border-0 w-75 align-self-center m-3" style="background-color: #E8DCCD; height:3px;">
            {% if user.is_authenticated %}
                <h6 class="ps-3" style="color:#E8DCCD"> You </h6>
                <li class="hover">
                    <a href="/account"><i class="fa fa-user"></i> Account </a>
                </li>
                <li class="hover">
                    <a href="/followed"><i class="fa fa-bookmark"></i> Saved Creators </a>
                </li>
                <hr class="border-0 w-75 align-self-center m-3" style="background-color: #E8DCCD; height:3px;">
                <h6 class="ps-3" style="color:#E8DCCD"> Storefront </h6>
                <li class="hover">
                    <a href="/storefront"><i class="fa fa-shop"></i> Manage </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>